

.spanDetail{
    font-family: monospace;
    font-size:large;
    color: white;
    /* display: flex; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* align-items: stretch; */
  /* justify-content: space-evenly; */

}
.spanDetailGenre{
    font-family: monospace; 
    font-size: medium;
    color: white;
    padding: 0 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.titleDetail{
    text-align: left; 
    font-family: monospace; 
    font-size: 30px; 
    COLOR: #23bf12; 
    text-shadow: 0px 0px 9px #508AD3;
    
}
.imagen{
    /* border: 8px solid #dfdfdf; */
    border-radius: 20em;
    width: 50%;
    opacity: 0.8;
}
/* .btnDetail{
    appearance: initial;
    
    font-style:normal;
    font-size: large;
    font-family: monospace;
    color:grey;
    word-spacing: normal;
    text-transform: capitalize;
    box-sizing: border-box;
    background-color: blue;
    padding: 5px;
    border-width: 6px;
    border-radius: 50px;
    border-style: outset;
    cursor: pointer;
}

button:hover {
    background-color: red;
    color: black
}

.boton-clic {
    background-color: #0743e7;
} */




.btnDetail{
    appearance: initial;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-radius: 5em;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    font-family: 'verdana';
    font-weight: 700;
  }
  .btnDetail {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btnDetail:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }