.pageNumbers {
  list-style: none;
  display: flex;
}

/* .pageNumbers li {
  margin: 6px;
  padding: 15px;
  /* border: 1px solid white;
  border-radius: 100px;
  flex-direction: center;
  color: white;
  background-color: blue;
  cursor: pointer;
} */

.pageNumbers li{
  appearance: initial;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 5em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'verdana';
  font-weight: 700;
}
.pageNumbers li {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.pageNumbers li:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* .pageNumbers li.active {
  margin: 6px;
  padding: 15px;
  background-color: #eef4fc;
  color: black;
} */

.pageNumbers li.active{
  appearance: initial;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 5em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'verdana';
  font-weight: 700;
}
.pageNumbers li.active {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.pageNumbers li.active:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}













/* 
.pageNumbers li button {
  margin: px;
  padding: auto;
  background-color: blue;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
} */

/* .pageNumbers li button:hover {
  color: rgb(248, 15, 15);
  background-color: blue;

} */

.pageNumbersli button:focus {
  outline: none;
}

.card {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.card img {
  width: 500px;
  height: 384px;
}

.card .text {
  padding: 0 20px;
}

.input {
  appearance: initial;
  font-style: normal;
  font-size: large;
  font-family: monospace;
  color: #3498db;
  word-spacing: normal;
  text-transform: capitalize;
  box-sizing: border-box;
  background-color: black;
  padding: 5px;
  border-width: 6px;
  border-radius: 50px;
  border-style: outset;
}

.numberPagination {
  text-align: center;
  display: inline-block;
}

/* .btnPagination {
  font-style: normal;
  font-size: large;
  font-family: monospace;
  color: grey;
  word-spacing: normal;
  text-transform: capitalize;
  box-sizing: border-box;
  background-color: #3498db;
  padding: 5px;
  border-width: 6px;
  border-radius: 50px;
  border-style: outset;
} */

.btnPagination {
box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-radius: 5em;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    font-family: 'verdana';
    font-weight: 50;
}
.btnPagination {
  border-color: #3498db;
  color: white;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.btnPagination:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}



.select {
  appearance: initial;
  font-style: normal;
  font-size: large;
  font-family: verdana;
  color: white;
  word-spacing: normal;
  text-transform: capitalize;
  box-sizing: border-box;
  background-color: #3498db;
  padding: 5px;
  border-radius: 50px;
  border-style: outset;
}
.spanFilter {
  /* text-align: left;  */
  font-family: verdana;
  font-size: 20px;
  color: #3498db;
  text-shadow: 0px 0px 9px black;
}

.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.filter-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
